
body {
    margin: 0; 
    padding: 0;   
    background: rgb(29,25,23);
    background: linear-gradient(180deg, rgba(29,25,23,1) 24%, rgba(68,38,41,1) 56%, rgba(226,30,72,1) 95%);
    background-size: cover; 
    height: 100vh; 
}
.Logo{
    width:200px;
    margin-top: 5px;
    
}
header{
    display: flex;
    justify-content: center;
}
.main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

  
}
.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  
}
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #E21E48;
  cursor: pointer;
  position: relative;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50px;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  border-radius: 10px;
}
.Master{
        width: 30%;
        font-family: "Montserrat", sans-serif;
        width: 100%;
        height: 45px;
        padding-left: 2.5rem;
        box-shadow: 0 0 0 1.5px #E21E48, 0 0 25px -17px #000;
        border: 0;
        border-radius: 12px;
        background-color: #16171d;
        outline: none;
        color: #bdbecb;
        transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: text;
        z-index: 0;
        width: auto;
 
        
}
a{
    text-decoration: none;
    color: white;
}
.locker{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
}
.code{
    aspect-ratio: 1;
    width: 60px;
    box-shadow: 0 0 0 1.5px #E21E48, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color: #16171d;
    outline: none;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
    
}
.keyboardCount{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.keyboard{
    display: grid;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 40px 40px 40px ;
    gap: 10px;
}
.key{
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #E21E48;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border-radius: 10px;
}
.direct{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.direct>.button-85{
    box-shadow: 0 0 0 1.5px #E21E48, 0 0 25px -17px #000;
    background-color: #E21E48;
    border: 1.5px solid;
    border-color: #E21E48;
}

/*--------------------------------------------------mainHouse-----------------------------------------------*/

.firstRow{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px ;
    justify-content: center;
    gap: 20px;
}
.room3 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}
.room12 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}
.room15 {
    grid-column: 1 / 3;
}
.room16 {
    grid-column: 5 / 7;
}
.room17 {
    grid-column: 1 / 7;
}
.firstRow div{
    box-shadow: 0 0 0 1.5px #E21E48, 0 0 25px -17px #000;
    background-color: #E21E48;
    border: 1.5px solid;
    border-color: #E21E48;
    border-radius: 10px;
    z-index: 2;

}

@media only screen and (max-width: 680px) {
    .firstRow{
        display: grid;
        grid-template-rows: 70px 70px 70px 70px 70px;
        grid-template-columns: 70px 70px 70px 70px 70px 70px ;
        justify-content: center;
        gap: 20px;
    }
 
  }
  @media only screen and (max-width: 540px ) and ( min-width:470px) {
    .firstRow{
        display: grid;
        grid-template-rows: 70px 70px 70px 70px 70px;
        grid-template-columns: 70px 70px 70px 70px 70px 70px ;
        justify-content: center;
        gap: 10px;
    }
}
    @media only screen and  ( max-width:470px) {
        .firstRow {
            display: grid;
            grid-template-rows: 60px 60px 60px 60px 60px;
            grid-template-columns: 60px 60px 60px 60px 60px 60px;
            justify-content: center;
            gap: 13px;
        }
 
  }
