
body {
    margin: 0; 
    padding: 0;   
    background: rgb(29,25,23);
    background: linear-gradient(180deg, rgba(29,25,23,1) 24%, rgba(68,38,41,1) 56%, rgba(226,30,72,1) 95%);
    background-size: cover; 
    height: 100vh; 
}
.Logo{
    width:200px;
    margin-top: 5px;
    
}
header{
    display: flex;
    justify-content: center;
}
.main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

  
}
.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  
}
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #E21E48;
  cursor: pointer;
  position: relative;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50px;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  border-radius: 10px;
}
.Master{
        width: 30%;
        font-family: "Montserrat", sans-serif;
        width: 100%;
        height: 45px;
        padding-left: 2.5rem;
        box-shadow: 0 0 0 1.5px #E21E48, 0 0 25px -17px #000;
        border: 0;
        border-radius: 12px;
        background-color: #16171d;
        outline: none;
        color: #bdbecb;
        transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: text;
        z-index: 0;
        width: auto;
 
        
}
a{
    text-decoration: none;
    color: white;
}
.locker{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
}
.code{
    aspect-ratio: 1;
    width: 60px;
    box-shadow: 0 0 0 1.5px #E21E48, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color: #16171d;
    outline: none;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
    
}



